.custom-card-date{
    font-size: 12px;
    font-family: sans-serif;
}

.custom-card {
    border-radius: 20px;
}
.custom-card-header {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    background-color: #01177d !important;
}
.custom-btn {
    border-radius: 19px;
    background-color: #01177d;
}

.vertical-bar{
    border-left: 3px solid white;
    height: 75%;
}

.top-button-color, ._btn_blue{
    background-color:#01177d;
    color: white;
}
.sign
{
    background-color:maroon;
    color: white;
}
.reseau-sociaux{
    margin-left: 0%;
}
.input-search{
    margin-left: 0%;
}
.top{
    color: #1043c7;
}

._menu ul li{
  
    border-radius: 3rem;
    padding: 5px;
    cursor: pointer;
    color:black;
}
.gauche {
    background-color: #06638A;
    height:100%;

}

.barre {
    margin-left: 0px !important;
    margin-right: 0px !important;
    display: block;
}

.fluid
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.shadow
{
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}
.btn_blue:hover
{
    color: white;
    text-decoration: none;
}
.propos {
    color:#01177d ;
}
.test
{
    color: aliceblue;
}
.boutons
{
    display: none; 
   
}
.functioning{
    background-color: #495057;
    height: 7vh;
}
.functioning .btn-link:hover{
    color: #fff;
    text-decoration: none !important;
}
.functioning .btn-link
{
    color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}

.connex {
    border-radius: 3rem;
    box-shadow: none !important;
    border-color: 1px solid #383a3a !important;
}
.connex:focus {
    border-radius: 3rem;
    box-shadow: none !important;
    border-color: 1px solid #383a3a !important;
}
nav
{
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 1;
}

  .cercle {
    width: 100px;
    height: 40px;
    border-radius: 60px / 40px;
    background:gray;
}
.ligne{
    border: 1px solid black;
}
.template
{
    font-size: 17px;
}

.image {
    max-width: 67%; margin-top: 25px !important
}
@media(max-width: 576px){
    .image {
        max-width: 67%; margin-top: 25px !important
    }
    .cercle {
        width: 200px;
        height: 40px;
        border-radius: 60px / 40px;
        background:gray;
        
    }
    .ligne{
        border: 1x solid black;
    }
    .template
{
    font-size: 10px;
}
}
@media(min-width:576px) and (max-width:770px){
    .image {
        max-width: 67%; margin-top: 25px !important
    }
    .cercle {
        width: 200px;
        height: 40px;
        border-radius: 60px / 40px;
        background:gray;
    }
    .ligne{
        border: 1x solid black;
    }
    .template
{
    font-size: 12px;
}
}
@media(min-width:770px) and (max-width:1500px){
    .image {
        max-width: 67%; margin-top: 25px !important
    }
    .cercle {
        width: 200px;
        height: 40px;
        border-radius: 60px / 40px;
        background:gray;
    }
    .ligne{
        border: 1x solid black;
    }
    .template
{
    font-size: 12px;
}
}
@media only screen and (min-width: 600px) {
    .reseau-sociaux{
        margin-left: 23%;
    }
    .input-search{
        margin-left: 20%;
    }
    .reseau-sociaux2
    {
        margin-left: 33%;
    }
    
}
@media only screen and (min-width: 768px) {
    .reseau-sociaux{
        margin-left: 23%;
    }
    .input-search{
        margin-left: 61%;
    }
    .reseau-sociaux2
    {
        margin-left: -31.666667%;
    }
    .boutons
    {
        display: none; 
        margin-left: 35.333333%;
    }
}
@media (min-width: 992px) { 
    .boutons
    {
        display: block; 
        margin-left: 35.333333%;
    }
    .barre {
       
        display: none;
    }
}

@media(max-width: 360px){
    ._about p{
            font-size: 13px !important;
    }
    .__about {
            font-size: 15px;
    }
}
@media(min-width:361px) and (max-width:576px){
    ._about p{
            font-size: 15px !important;
    }
    .__about {
            font-size: 17px;
    }
}
@media(min-width:577px) and (max-width:768px){
    ._about p{
            font-size: 17px !important;
    }
    .__about {
            font-size: 20px;
    }
}

@media(max-width: 768px){
  .txt{font-size: 13px;}
  .titre{ font-size: 15px;}
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev-icon {
  left: -4rem;
}

.carousel-control-next-icon {
  right: -4rem;
}

/* rita */
.btnContactSubmit
{
      width: 45%;
      border-radius: 10em;
      padding: 1.5%;
      color: #0000;
      background-color:#cccfff;
      border: none;
      cursor: pointer;
  
      margin-top: 4%;
}
.register .nav-tabs .nav-link:hover{
      border: none;
}
.text-align{
      margin-top: -3%;
      margin-bottom: -9%;

      padding: 10%;
      margin-left: 30%;
}
.form-new{
      margin-right: 22%;
      margin-left: 20%;
}

      .register-heading{
              margin-left: 21%;
              margin-bottom: 10%;
              color: #e9ecef;
              border-radius: 20px;
      }
      .register-heading h1{
              margin-left: 21%;
              margin-bottom: 10%;
              color: #e9ecef;
      }
      .btnLoginSubmit{
              border: none;
              padding: 2%;
              width: 20%;
              cursor: pointer;
              background:#e78deb;
              color: #fff;
      }
      .btnForgetPwd{
              cursor: pointer;
              margin-right: 5%;
              color: #f8f9fa;
      }
      .register{
              background: cornflowerblue;
              margin-top: 7%;
              padding: 3%;
              border-radius: 2.5rem;
      }
.nav-tabs .nav-link{
              border: 1px solid transparent;
              border-top-left-radius: .25rem;
              border-top-right-radius: .25rem;
              color: white;
      }
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #cccfff;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

